*{
    font-family:monospace;
    text-align: center;
    align-items:center;
}
body{
    background: linear-gradient(to right, rgb(181, 196, 228), rgb(70, 94, 231));
}
h1{
    font-size:50px;
    
}
.images{
    display: flex;
    justify-content:space-evenly;
    
    
}
img{
    border-radius: 40px;
    transition: transform 0.5s;
    box-shadow:  0 0 10px 2px;
    margin-top:80px;
}
img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.score{
    display: flex;
    justify-content:space-evenly;
    margin-top:30px;
}
a{
    color:black
}

button{
    width: 100px;
    height:50px;
    border-radius: 10px;
    background-color: rgb(202, 183, 100);
    text-emphasis:initial;
    color:black;
    margin-top:100px;
    transition: transform 0.5s;
    font-size: 20px;
}

button:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.btns{
    display: flex;
    justify-content: space-evenly;
}

#final-btns{
    display: flex;
    justify-content: space-evenly;
}




@keyframes firework {
  0% { 
    transform: translate(-50%, 40vh);
    width: 0.5vmin;
    opacity: 1;
  }
  50% { 
    width: 0.5vmin;
    opacity: 1;
  }
  100% { 
    width: 45vmin; 
    opacity: 0.7; 
  }
}

.firework,
.firework::before,
.firework::after {
  --top: 60vh;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5vmin;
  aspect-ratio: 1;
  background:
/* random backgrounds */
    radial-gradient(circle, rgb(255, 8, 0) 0.3vmin, #0000 0) 50% 00%,
    radial-gradient(circle, rgb(51, 255, 0) 0.3vmin, #0000 0) 50% 99%,
    radial-gradient(circle, rgb(255, 8, 0) 0.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, rgb(17, 0, 255) 0.2vmin, #0000 0) 00% 50%,
    radial-gradient(circle, rgb(255, 193, 23) 0.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, rgb(255, 118, 6) 0.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, rgb(255, 77, 6) 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, rgb(255, 35, 6) 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, rgb(255, 23, 6) 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, rgb(255, 6, 6) 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, rgb(255, 6, 6) 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, rgb(255, 6, 6) 0.3vmin, #0000 0) 13% 24%
    ;
  background-size: 0.8vmin 0.8vmin;
  background-repeat: no-repeat;
  animation: firework 2s infinite;
}


.firework::before {
  transform: translate(-50%, -50%) rotate(-37deg) !important; 
}

.firework::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}

.firework::before {
  transform: translate(-40%, -40%) rotate(-20deg) !important; 
}

.firework::after {
  transform: translate(-60%, -60%) rotate(-20deg) !important;
}


@keyframes firework1 {
  0% { 
    transform: translate(-50%, 40vh);
    width: 0.5vmin;
    opacity: 1;
  }
  50% { 
    width: 0.5vmin;
    opacity: 1;
  }
  100% { 
    width: 45vmin; 
    opacity: 0.7; 
  }
}

.firework1,
.firework1::before,
.firework1::after {
  --top: 60vh;
  content: "";
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-30%, -30%);
  width: 0.5vmin;
  aspect-ratio: 1;
  background:
/* random backgrounds */
    radial-gradient(circle, rgb(255, 8, 0) 0.3vmin, #0000 0) 50% 00%,
    radial-gradient(circle, rgb(51, 255, 0) 0.3vmin, #0000 0) 50% 99%,
    radial-gradient(circle, rgb(255, 8, 0) 0.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, rgb(17, 0, 255) 0.2vmin, #0000 0) 00% 50%,
    radial-gradient(circle, rgb(255, 193, 23) 0.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, rgb(255, 118, 6) 0.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, rgb(255, 77, 6) 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, rgb(255, 35, 6) 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, rgb(255, 23, 6) 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, rgb(255, 6, 6) 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, rgb(255, 6, 6) 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, rgb(255, 6, 6) 0.3vmin, #0000 0) 13% 24%
    ;
  background-size: 0.8vmin 0.8vmin;
  background-repeat: no-repeat;
  animation: firework 2s infinite;
}


.firework1::before {
  transform: translate(-50%, -50%) rotate(-37deg) !important; 
}

.firework1::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}

.firework1::before {
  transform: translate(-40%, -40%) rotate(-20deg) !important; 
}

.firework::after {
  transform: translate(-60%, -60%) rotate(-20deg) !important;
}